USE [DBKHACHSAN_FIX]
GO
/****** Object:  Table [dbo].[AUTHORITY]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHORITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROLES] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
 CONSTRAINT [PK_IDAU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CUSTOMER] [int] NOT NULL,
	[ID_PERSONNEL] [int] NOT NULL,
	[ID_ROOM_REFUND_CONDITIONS] [int] NULL,
	[ID_PAYMENT_TYPE] [int] NULL,
	[NUMBER_OF_ADULTS] [int] NOT NULL,
	[NUMBER_OF_KIDS] [int] NOT NULL,
	[HIRE_DATE] [datetime] NOT NULL,
	[CHECK_OUT_DAY] [datetime] NULL,
	[DEPOSITS] [float] NULL,
	[DATE_OF_PAYMENT] [datetime] NULL,
	[TOTAL_CASH] [float] NULL,
	[TOTAL_CARD] [float] NULL,
	[STATUS] [int] NOT NULL,
	[ID_BOOKING] [int] NULL,
 CONSTRAINT [PK_ID_BILLS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](255) NOT NULL,
	[CUSTOMER_PHONE_NUMBER] [nvarchar](255) NOT NULL,
	[CUSTOMER_EMAIL] [nvarchar](255) NOT NULL,
	[ID_KIND_OF_ROOM] [int] NOT NULL,
	[HIRE_DATE] [date] NOT NULL,
	[CHECK_OUT_DAY] [date] NOT NULL,
	[NUMBER_OF_ADULTS] [int] NOT NULL,
	[NUMBER_OF_KIDS] [int] NOT NULL,
	[DEPOSITS] [float] NULL,
	[NOTE] [nvarchar](255) NULL,
	[PAYMENT_STATUS] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDBOOKING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIG_TIME]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG_TIME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIME_IN] [nvarchar](255) NOT NULL,
	[TIME_OUT] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_CONFIG_TIME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[FULLNAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
	[CITIZEN_ID_CODE] [nvarchar](12) NULL,
	[GENDER] [nvarchar](5) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[PHONE_NUMBER] [nvarchar](12) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[IMG] [nvarchar](255) NULL,
	[ID_NATIONALITY] [int] NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILS_INVOICE]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILS_INVOICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BILL] [int] NOT NULL,
	[ID_ROOMS] [int] NOT NULL,
	[ID_RENTAL_TYPES] [int] NOT NULL,
	[HIRE_DATE] [datetime] NOT NULL,
	[CHECK_OUT_DAY] [datetime] NULL,
	[NUMBER_OF_DAYS_OF_RENT] [int] NULL,
	[NUMBER_OF_HOURS_TO_RENT] [int] NULL,
	[NUMBER_OF_PEOPLE] [int] NULL,
	[TOTAL_CASH] [float] NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_DETAILS_INVOICE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACILITIES]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACILITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_FACILITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACILITIES_DETAILS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACILITIES_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACILITIES] [int] NOT NULL,
	[ID_ROOMS] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDFACILITIESDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HAND_OVER]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAND_OVER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONNEL] [int] NOT NULL,
	[RECEIVER] [nvarchar](255) NOT NULL,
	[DATE_TIME_START] [datetime] NOT NULL,
	[DATE_TIME_END] [datetime] NOT NULL,
	[MONEY_FIRST] [float] NOT NULL,
	[TOTAL_MONEY] [float] NOT NULL,
	[TOTAL_MONEY_CARD] [float] NOT NULL,
	[TOTAL_CASH] [float] NOT NULL,
	[SURCHARGE] [float] NOT NULL,
	[MONEY_REAL] [float] NOT NULL,
	[MONEY_HAND_OVER] [float] NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[MONEY_STATUS] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[TIME_IN] [datetime] NOT NULL,
	[TIME_OUT] [datetime] NOT NULL,
	[HAND_OVER_STATUS] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDHT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_KIND_OF_ROOM]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_KIND_OF_ROOM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_KIND_OF_ROOM] [int] NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_IMAGE_KIND_OF_ROOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIND_OF_ROOM]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIND_OF_ROOM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROOM_TYPE_NAME] [nvarchar](50) NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[PRICE_BY_DAY] [float] NOT NULL,
	[HOURLY_PRICE] [float] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_KIND_OF_ROOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NATIONALITY]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NATIONALITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUMBER_OF_FLOORS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUMBER_OF_FLOORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER_OF_FLOORS] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_PAYMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONNEL]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONNEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[FULLNAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](5) NOT NULL,
	[CITIZEN_ID_CODE] [nvarchar](12) NULL,
	[DATE_OF_BIRTH] [date] NOT NULL,
	[PHONE_NUMBER] [nvarchar](12) NOT NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[ID_NATIONALITY] [int] NOT NULL,
	[IMG] [nvarchar](max) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTAL_TYPES]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTAL_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_RENTAL_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESET_HAND_OVER]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESET_HAND_OVER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONNEL] [int] NOT NULL,
	[RECEIVER] [nvarchar](255) NOT NULL,
	[DATE_TIME_START] [datetime] NOT NULL,
	[DATE_TIME_END] [datetime] NOT NULL,
	[TOTAL_MONEY] [float] NOT NULL,
	[HAND_MONEY] [float] NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDRHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM_REFUND_CONDITIONS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM_REFUND_CONDITIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REFUND_CONDITIONS] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_ROOM_REFUND_CONDITIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[ID_NUMBER_OF_FLOORS] [int] NOT NULL,
	[ID_KIND_OF_ROOM] [int] NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[IMG] [nvarchar](255) NULL,
	[IMG1] [nvarchar](255) NULL,
	[IMG2] [nvarchar](255) NULL,
	[IMG3] [nvarchar](255) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDROOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_AVAILABLE]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_AVAILABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SERVICE] [int] NOT NULL,
	[ID_ROOMS] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICES] [float] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_SERVICE_AVAILABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_DETAILS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SERVICE] [int] NOT NULL,
	[ID_DETAILS_INVOICE] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[TOTAL_CASH] [float] NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_SERVICE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_TYPE]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_SERVICE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICESS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NOT NULL,
	[ID_SERVICE_TYPE] [int] NOT NULL,
	[PRICES] [float] NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_ID_SERVICESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/21/2022 9:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](255) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_IDUSER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTHORITY] ON 

INSERT [dbo].[AUTHORITY] ([ID], [ID_ROLES], [ID_USER]) VALUES (1, 1, 1)
INSERT [dbo].[AUTHORITY] ([ID], [ID_ROLES], [ID_USER]) VALUES (2, 2, 1)
INSERT [dbo].[AUTHORITY] ([ID], [ID_ROLES], [ID_USER]) VALUES (3, 1, 2)
SET IDENTITY_INSERT [dbo].[AUTHORITY] OFF
GO
SET IDENTITY_INSERT [dbo].[BILLS] ON 

INSERT [dbo].[BILLS] ([ID], [ID_CUSTOMER], [ID_PERSONNEL], [ID_ROOM_REFUND_CONDITIONS], [ID_PAYMENT_TYPE], [NUMBER_OF_ADULTS], [NUMBER_OF_KIDS], [HIRE_DATE], [CHECK_OUT_DAY], [DEPOSITS], [DATE_OF_PAYMENT], [TOTAL_CASH], [TOTAL_CARD], [STATUS], [ID_BOOKING]) VALUES (1, 1, 3, NULL, 1, 1, 0, CAST(N'2022-12-04T12:00:00.000' AS DateTime), CAST(N'2022-12-04T12:00:00.000' AS DateTime), 0, CAST(N'2022-12-20T18:52:00.000' AS DateTime), 2422000, 0, 2, NULL)
INSERT [dbo].[BILLS] ([ID], [ID_CUSTOMER], [ID_PERSONNEL], [ID_ROOM_REFUND_CONDITIONS], [ID_PAYMENT_TYPE], [NUMBER_OF_ADULTS], [NUMBER_OF_KIDS], [HIRE_DATE], [CHECK_OUT_DAY], [DEPOSITS], [DATE_OF_PAYMENT], [TOTAL_CASH], [TOTAL_CARD], [STATUS], [ID_BOOKING]) VALUES (2, 2, 3, NULL, 1, 1, 0, CAST(N'2022-12-20T18:57:00.000' AS DateTime), CAST(N'2022-12-04T12:00:00.000' AS DateTime), 0, CAST(N'2022-12-20T18:58:00.000' AS DateTime), 3570000, 0, 2, NULL)
INSERT [dbo].[BILLS] ([ID], [ID_CUSTOMER], [ID_PERSONNEL], [ID_ROOM_REFUND_CONDITIONS], [ID_PAYMENT_TYPE], [NUMBER_OF_ADULTS], [NUMBER_OF_KIDS], [HIRE_DATE], [CHECK_OUT_DAY], [DEPOSITS], [DATE_OF_PAYMENT], [TOTAL_CASH], [TOTAL_CARD], [STATUS], [ID_BOOKING]) VALUES (3, 3, 3, NULL, NULL, 1, 0, CAST(N'2022-12-20T19:08:08.543' AS DateTime), NULL, 6600000, NULL, 0, 0, 3, 2)
SET IDENTITY_INSERT [dbo].[BILLS] OFF
GO
SET IDENTITY_INSERT [dbo].[BOOKING] ON 

INSERT [dbo].[BOOKING] ([ID], [CUSTOMER_NAME], [CUSTOMER_PHONE_NUMBER], [CUSTOMER_EMAIL], [ID_KIND_OF_ROOM], [HIRE_DATE], [CHECK_OUT_DAY], [NUMBER_OF_ADULTS], [NUMBER_OF_KIDS], [DEPOSITS], [NOTE], [PAYMENT_STATUS], [STATUS]) VALUES (1, N'Quang Vũ', N'0981861798', N'vu@gmail.com', 3, CAST(N'2022-12-21' AS Date), CAST(N'2022-12-27' AS Date), 1, 0, 9900000, N'', 1, 1)
INSERT [dbo].[BOOKING] ([ID], [CUSTOMER_NAME], [CUSTOMER_PHONE_NUMBER], [CUSTOMER_EMAIL], [ID_KIND_OF_ROOM], [HIRE_DATE], [CHECK_OUT_DAY], [NUMBER_OF_ADULTS], [NUMBER_OF_KIDS], [DEPOSITS], [NOTE], [PAYMENT_STATUS], [STATUS]) VALUES (2, N'Quang Vũ', N'0981861798', N'vu@gmail.com', 3, CAST(N'2022-12-21' AS Date), CAST(N'2022-12-25' AS Date), 1, 0, 6600000, N'', 2, 1)
INSERT [dbo].[BOOKING] ([ID], [CUSTOMER_NAME], [CUSTOMER_PHONE_NUMBER], [CUSTOMER_EMAIL], [ID_KIND_OF_ROOM], [HIRE_DATE], [CHECK_OUT_DAY], [NUMBER_OF_ADULTS], [NUMBER_OF_KIDS], [DEPOSITS], [NOTE], [PAYMENT_STATUS], [STATUS]) VALUES (3, N'Quang Dũng', N'0981861798', N'vu@gmail.com', 1, CAST(N'2022-12-21' AS Date), CAST(N'2023-01-20' AS Date), 1, 0, 33000000, N'', 1, 1)
SET IDENTITY_INSERT [dbo].[BOOKING] OFF
GO
SET IDENTITY_INSERT [dbo].[CONFIG_TIME] ON 

INSERT [dbo].[CONFIG_TIME] ([ID], [TIME_IN], [TIME_OUT], [STATUS]) VALUES (2, N'12:00', N'10:00', 1)
SET IDENTITY_INSERT [dbo].[CONFIG_TIME] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([ID], [ID_USER], [FULLNAME], [EMAIL], [CITIZEN_ID_CODE], [GENDER], [DATE_OF_BIRTH], [PHONE_NUMBER], [ADDRESS], [IMG], [ID_NATIONALITY], [STATUS]) VALUES (1, NULL, N'Khách 1', N'vu@gmail.com', N'1231231321', N'Nam', CAST(N'2022-12-20' AS Date), N'0987654321', N'Hải Dương', N'No', 1, 1)
INSERT [dbo].[CUSTOMER] ([ID], [ID_USER], [FULLNAME], [EMAIL], [CITIZEN_ID_CODE], [GENDER], [DATE_OF_BIRTH], [PHONE_NUMBER], [ADDRESS], [IMG], [ID_NATIONALITY], [STATUS]) VALUES (2, NULL, N'Khách 1', N'vu@gmail.com', N'324324', N'Nam', CAST(N'2022-12-20' AS Date), N'213123', N'Hà Nội', N'No', 1, 1)
INSERT [dbo].[CUSTOMER] ([ID], [ID_USER], [FULLNAME], [EMAIL], [CITIZEN_ID_CODE], [GENDER], [DATE_OF_BIRTH], [PHONE_NUMBER], [ADDRESS], [IMG], [ID_NATIONALITY], [STATUS]) VALUES (3, NULL, N'Quang Vũ', N'vu@gmail.com', NULL, NULL, NULL, N'0981861798', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAILS_INVOICE] ON 

INSERT [dbo].[DETAILS_INVOICE] ([ID], [ID_BILL], [ID_ROOMS], [ID_RENTAL_TYPES], [HIRE_DATE], [CHECK_OUT_DAY], [NUMBER_OF_DAYS_OF_RENT], [NUMBER_OF_HOURS_TO_RENT], [NUMBER_OF_PEOPLE], [TOTAL_CASH], [STATUS]) VALUES (1, 1, 1, 1, CAST(N'2022-12-20T12:00:00.000' AS DateTime), CAST(N'2022-12-21T10:00:00.000' AS DateTime), 1, 7, 1, 2422000, 2)
INSERT [dbo].[DETAILS_INVOICE] ([ID], [ID_BILL], [ID_ROOMS], [ID_RENTAL_TYPES], [HIRE_DATE], [CHECK_OUT_DAY], [NUMBER_OF_DAYS_OF_RENT], [NUMBER_OF_HOURS_TO_RENT], [NUMBER_OF_PEOPLE], [TOTAL_CASH], [STATUS]) VALUES (2, 2, 1, 1, CAST(N'2022-12-20T12:00:00.000' AS DateTime), CAST(N'2022-12-23T10:00:00.000' AS DateTime), 1, 7, 1, 3570000, 2)
INSERT [dbo].[DETAILS_INVOICE] ([ID], [ID_BILL], [ID_ROOMS], [ID_RENTAL_TYPES], [HIRE_DATE], [CHECK_OUT_DAY], [NUMBER_OF_DAYS_OF_RENT], [NUMBER_OF_HOURS_TO_RENT], [NUMBER_OF_PEOPLE], [TOTAL_CASH], [STATUS]) VALUES (3, 2, 2, 1, CAST(N'2022-12-20T12:00:00.000' AS DateTime), CAST(N'2022-12-24T10:00:00.000' AS DateTime), 1, 7, 1, 3570000, 2)
SET IDENTITY_INSERT [dbo].[DETAILS_INVOICE] OFF
GO
SET IDENTITY_INSERT [dbo].[FACILITIES] ON 

INSERT [dbo].[FACILITIES] ([ID], [NAME], [STATUS]) VALUES (1, N'Tivi', 1)
INSERT [dbo].[FACILITIES] ([ID], [NAME], [STATUS]) VALUES (2, N'Máy sấy tóc', 1)
INSERT [dbo].[FACILITIES] ([ID], [NAME], [STATUS]) VALUES (3, N'Mini bar', 1)
SET IDENTITY_INSERT [dbo].[FACILITIES] OFF
GO
SET IDENTITY_INSERT [dbo].[FACILITIES_DETAILS] ON 

INSERT [dbo].[FACILITIES_DETAILS] ([ID], [ID_FACILITIES], [ID_ROOMS], [STATUS]) VALUES (1, 1, 1, 1)
INSERT [dbo].[FACILITIES_DETAILS] ([ID], [ID_FACILITIES], [ID_ROOMS], [STATUS]) VALUES (2, 2, 1, 1)
INSERT [dbo].[FACILITIES_DETAILS] ([ID], [ID_FACILITIES], [ID_ROOMS], [STATUS]) VALUES (3, 3, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[FACILITIES_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[HAND_OVER] ON 

INSERT [dbo].[HAND_OVER] ([ID], [ID_PERSONNEL], [RECEIVER], [DATE_TIME_START], [DATE_TIME_END], [MONEY_FIRST], [TOTAL_MONEY], [TOTAL_MONEY_CARD], [TOTAL_CASH], [SURCHARGE], [MONEY_REAL], [MONEY_HAND_OVER], [NOTE], [MONEY_STATUS], [STATUS]) VALUES (1, 6, N'', CAST(N'2022-10-31T09:35:53.000' AS DateTime), CAST(N'2022-10-31T09:35:53.000' AS DateTime), 500000, 0, 0, 500000, 0, 0, 0, N'Đã nhận ca từ quản lý lúc 2022-10-31T09:35:53', 1, 0)
INSERT [dbo].[HAND_OVER] ([ID], [ID_PERSONNEL], [RECEIVER], [DATE_TIME_START], [DATE_TIME_END], [MONEY_FIRST], [TOTAL_MONEY], [TOTAL_MONEY_CARD], [TOTAL_CASH], [SURCHARGE], [MONEY_REAL], [MONEY_HAND_OVER], [NOTE], [MONEY_STATUS], [STATUS]) VALUES (2, 3, N'', CAST(N'2022-12-20T19:53:00.000' AS DateTime), CAST(N'2022-12-20T19:53:00.000' AS DateTime), 0, 0, 0, 0, 0, 0, 0, N'', 1, 0)
SET IDENTITY_INSERT [dbo].[HAND_OVER] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORY] ON 

INSERT [dbo].[HISTORY] ([ID], [ID_USER], [TIME_IN], [TIME_OUT], [HAND_OVER_STATUS], [STATUS]) VALUES (1, 3, CAST(N'2022-12-20T19:53:00.000' AS DateTime), CAST(N'2022-12-20T19:53:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[IMAGE_KIND_OF_ROOM] ON 

INSERT [dbo].[IMAGE_KIND_OF_ROOM] ([ID], [ID_KIND_OF_ROOM], [URL], [STATUS]) VALUES (7, 8, N'http://res.cloudinary.com/dmfge68ok/image/upload/v1671557146/kind-of-room/rxrquimpxgrhaep7uhw8.jpg', 1)
INSERT [dbo].[IMAGE_KIND_OF_ROOM] ([ID], [ID_KIND_OF_ROOM], [URL], [STATUS]) VALUES (8, 8, N'http://res.cloudinary.com/dmfge68ok/image/upload/v1671557309/kind-of-room/crnepq3anztcprqev8ta.jpg', 1)
SET IDENTITY_INSERT [dbo].[IMAGE_KIND_OF_ROOM] OFF
GO
SET IDENTITY_INSERT [dbo].[KIND_OF_ROOM] ON 

INSERT [dbo].[KIND_OF_ROOM] ([ID], [ROOM_TYPE_NAME], [NOTE], [PRICE_BY_DAY], [HOURLY_PRICE], [STATUS]) VALUES (1, N'Phòng đơn', N'Single room', 1000000, 50000, 1)
INSERT [dbo].[KIND_OF_ROOM] ([ID], [ROOM_TYPE_NAME], [NOTE], [PRICE_BY_DAY], [HOURLY_PRICE], [STATUS]) VALUES (2, N'Phòng đôi', N'Double room', 2000000, 100000, 1)
INSERT [dbo].[KIND_OF_ROOM] ([ID], [ROOM_TYPE_NAME], [NOTE], [PRICE_BY_DAY], [HOURLY_PRICE], [STATUS]) VALUES (3, N'Phòng 2 đơn', N'Twin room', 1500000, 75000, 1)
SET IDENTITY_INSERT [dbo].[KIND_OF_ROOM] OFF
GO
SET IDENTITY_INSERT [dbo].[NATIONALITY] ON 

INSERT [dbo].[NATIONALITY] ([ID], [NAME], [STATUS]) VALUES (1, N'Việt Nam', 1)
INSERT [dbo].[NATIONALITY] ([ID], [NAME], [STATUS]) VALUES (2, N'Hàn Quốc', 1)
INSERT [dbo].[NATIONALITY] ([ID], [NAME], [STATUS]) VALUES (3, N'Nhật Bản', 0)
SET IDENTITY_INSERT [dbo].[NATIONALITY] OFF
GO
SET IDENTITY_INSERT [dbo].[NUMBER_OF_FLOORS] ON 

INSERT [dbo].[NUMBER_OF_FLOORS] ([ID], [NUMBER_OF_FLOORS], [STATUS]) VALUES (1, 2, 1)
INSERT [dbo].[NUMBER_OF_FLOORS] ([ID], [NUMBER_OF_FLOORS], [STATUS]) VALUES (2, 3, 1)
INSERT [dbo].[NUMBER_OF_FLOORS] ([ID], [NUMBER_OF_FLOORS], [STATUS]) VALUES (3, 4, 1)
SET IDENTITY_INSERT [dbo].[NUMBER_OF_FLOORS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT_TYPE] ON 

INSERT [dbo].[PAYMENT_TYPE] ([ID], [NAME], [STATUS]) VALUES (1, N'Chuyển khoản', 1)
INSERT [dbo].[PAYMENT_TYPE] ([ID], [NAME], [STATUS]) VALUES (2, N'Tiền mặt', 1)
SET IDENTITY_INSERT [dbo].[PAYMENT_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONNEL] ON 

INSERT [dbo].[PERSONNEL] ([ID], [ID_USER], [FULLNAME], [EMAIL], [GENDER], [CITIZEN_ID_CODE], [DATE_OF_BIRTH], [PHONE_NUMBER], [ADDRESS], [ID_NATIONALITY], [IMG], [STATUS]) VALUES (1, 1, N'Hồ Văn Lân', N'holan2k@gmail.com', N'Nam', N'178954321', CAST(N'2000-02-23' AS Date), N'0334407886', N'Nghệ An', 1, N'lan.jpg', 1)
INSERT [dbo].[PERSONNEL] ([ID], [ID_USER], [FULLNAME], [EMAIL], [GENDER], [CITIZEN_ID_CODE], [DATE_OF_BIRTH], [PHONE_NUMBER], [ADDRESS], [ID_NATIONALITY], [IMG], [STATUS]) VALUES (2, 2, N'Nguyễn Văn Trức', N'trucnv@gmail.com', N'Nam', N'222222222', CAST(N'2000-02-02' AS Date), N'0333797979', N'Hà Nội', 1, N'truc.jpg', 1)
INSERT [dbo].[PERSONNEL] ([ID], [ID_USER], [FULLNAME], [EMAIL], [GENDER], [CITIZEN_ID_CODE], [DATE_OF_BIRTH], [PHONE_NUMBER], [ADDRESS], [ID_NATIONALITY], [IMG], [STATUS]) VALUES (3, 3, N'Bùi Quang Vũ', N'vubq@gmail.com', N'Nam', N'333333333', CAST(N'2002-03-03' AS Date), N'032198765', N'Hải Dương', 1, N'vu.jpg', 1)
SET IDENTITY_INSERT [dbo].[PERSONNEL] OFF
GO
SET IDENTITY_INSERT [dbo].[RENTAL_TYPES] ON 

INSERT [dbo].[RENTAL_TYPES] ([ID], [NAME], [STATUS]) VALUES (1, N'Theo ngày', 1)
INSERT [dbo].[RENTAL_TYPES] ([ID], [NAME], [STATUS]) VALUES (2, N'Theo giờ', 1)
SET IDENTITY_INSERT [dbo].[RENTAL_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[RESET_HAND_OVER] ON 

INSERT [dbo].[RESET_HAND_OVER] ([ID], [ID_PERSONNEL], [RECEIVER], [DATE_TIME_START], [DATE_TIME_END], [TOTAL_MONEY], [HAND_MONEY], [NOTE], [STATUS]) VALUES (1, 6, N'huynh', CAST(N'2022-10-31T09:35:53.000' AS DateTime), CAST(N'2022-10-31T12:35:53.000' AS DateTime), 3000000, 2000000, N'Còn dư 1 triệu', 1)
SET IDENTITY_INSERT [dbo].[RESET_HAND_OVER] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([ID], [NAME], [STATUS]) VALUES (1, N'Quản lý', 1)
INSERT [dbo].[ROLES] ([ID], [NAME], [STATUS]) VALUES (2, N'Nhân viên', 1)
INSERT [dbo].[ROLES] ([ID], [NAME], [STATUS]) VALUES (3, N'Khách hàng', 1)
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOM_REFUND_CONDITIONS] ON 

INSERT [dbo].[ROOM_REFUND_CONDITIONS] ([ID], [REFUND_CONDITIONS], [STATUS]) VALUES (1, N'Hủy phòng trước 3 ngày', 1)
INSERT [dbo].[ROOM_REFUND_CONDITIONS] ([ID], [REFUND_CONDITIONS], [STATUS]) VALUES (2, N'Sự cố', 1)
SET IDENTITY_INSERT [dbo].[ROOM_REFUND_CONDITIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOMS] ON 

INSERT [dbo].[ROOMS] ([ID], [NAME], [ID_NUMBER_OF_FLOORS], [ID_KIND_OF_ROOM], [NOTE], [IMG], [IMG1], [IMG2], [IMG3], [STATUS]) VALUES (1, N'P201', 1, 2, N'Phòng 2 người', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', 1)
INSERT [dbo].[ROOMS] ([ID], [NAME], [ID_NUMBER_OF_FLOORS], [ID_KIND_OF_ROOM], [NOTE], [IMG], [IMG1], [IMG2], [IMG3], [STATUS]) VALUES (2, N'P202', 1, 1, N'Phòng 1 người', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', 1)
INSERT [dbo].[ROOMS] ([ID], [NAME], [ID_NUMBER_OF_FLOORS], [ID_KIND_OF_ROOM], [NOTE], [IMG], [IMG1], [IMG2], [IMG3], [STATUS]) VALUES (3, N'P203', 1, 2, N'Phòng 2 người', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', N'https://res.cloudinary.com/dwbx0ov8v/image/upload/v1669303613/can_ho_dich_vu_trksik.jpg', 1)
SET IDENTITY_INSERT [dbo].[ROOMS] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_AVAILABLE] ON 

INSERT [dbo].[SERVICE_AVAILABLE] ([ID], [ID_SERVICE], [ID_ROOMS], [QUANTITY], [PRICES], [STATUS]) VALUES (1, 4, 1, 2, 10000, 1)
INSERT [dbo].[SERVICE_AVAILABLE] ([ID], [ID_SERVICE], [ID_ROOMS], [QUANTITY], [PRICES], [STATUS]) VALUES (2, 5, 1, 2, 9000, 1)
INSERT [dbo].[SERVICE_AVAILABLE] ([ID], [ID_SERVICE], [ID_ROOMS], [QUANTITY], [PRICES], [STATUS]) VALUES (3, 6, 1, 1, 15000, 1)
SET IDENTITY_INSERT [dbo].[SERVICE_AVAILABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_DETAILS] ON 

INSERT [dbo].[SERVICE_DETAILS] ([ID], [ID_SERVICE], [ID_DETAILS_INVOICE], [QUANTITY], [TOTAL_CASH], [STATUS]) VALUES (1, 2, 1, 1, 0, 2)
INSERT [dbo].[SERVICE_DETAILS] ([ID], [ID_SERVICE], [ID_DETAILS_INVOICE], [QUANTITY], [TOTAL_CASH], [STATUS]) VALUES (2, 4, 1, 3, 0, 2)
INSERT [dbo].[SERVICE_DETAILS] ([ID], [ID_SERVICE], [ID_DETAILS_INVOICE], [QUANTITY], [TOTAL_CASH], [STATUS]) VALUES (3, 1, 1, 2, 0, 2)
SET IDENTITY_INSERT [dbo].[SERVICE_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_TYPE] ON 

INSERT [dbo].[SERVICE_TYPE] ([ID], [NAME], [NOTE], [STATUS]) VALUES (1, N'Giặt là', N'Dịch vụ giặt là trả đồ sau 6h.', 1)
INSERT [dbo].[SERVICE_TYPE] ([ID], [NAME], [NOTE], [STATUS]) VALUES (2, N'Dọn phòng', N'Dịch vụ dọn phòng ngay.', 1)
INSERT [dbo].[SERVICE_TYPE] ([ID], [NAME], [NOTE], [STATUS]) VALUES (3, N'Đồ uống', N'Các loại đồ uống', 1)
SET IDENTITY_INSERT [dbo].[SERVICE_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICESS] ON 

INSERT [dbo].[SERVICESS] ([ID], [NAME], [ID_SERVICE_TYPE], [PRICES], [NOTE], [STATUS]) VALUES (1, N'Giặt bikini', 1, 60000, N'60.000 dong/ kg', 1)
INSERT [dbo].[SERVICESS] ([ID], [NAME], [ID_SERVICE_TYPE], [PRICES], [NOTE], [STATUS]) VALUES (2, N'Cafe sữa đá', 3, 49000, N'49.000 dong/ cup ', 1)
INSERT [dbo].[SERVICESS] ([ID], [NAME], [ID_SERVICE_TYPE], [PRICES], [NOTE], [STATUS]) VALUES (3, N'Pizza', 1, 89000, N'89.000 đồng/ cake', 1)
SET IDENTITY_INSERT [dbo].[SERVICESS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [STATUS]) VALUES (1, N'lanhv', N'$2a$10$sjJdJXutOeyJUNisn0FB9OszrbyyzHDsX7ucehl5Hh60C7odSXWc6', 1)
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [STATUS]) VALUES (2, N'trucnv', N'$2y$10$.YNZtUFgIUvitTEm/YxvQunwttpt.121QYZMhfMXjhIrRr4UdZM5u', 1)
INSERT [dbo].[USERS] ([ID], [USERNAME], [PASSWORD], [STATUS]) VALUES (3, N'vubq', N'$2a$10$sjJdJXutOeyJUNisn0FB9OszrbyyzHDsX7ucehl5Hh60C7odSXWc6', 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[AUTHORITY]  WITH CHECK ADD  CONSTRAINT [FK_ID_ROLES2] FOREIGN KEY([ID_ROLES])
REFERENCES [dbo].[ROLES] ([ID])
GO
ALTER TABLE [dbo].[AUTHORITY] CHECK CONSTRAINT [FK_ID_ROLES2]
GO
ALTER TABLE [dbo].[AUTHORITY]  WITH CHECK ADD  CONSTRAINT [FK_ID_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[AUTHORITY] CHECK CONSTRAINT [FK_ID_USER]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_BILLS_BOOKING] FOREIGN KEY([ID_BOOKING])
REFERENCES [dbo].[BOOKING] ([ID])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_BILLS_BOOKING]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_ID_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_ID_CUSTOMER]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PAYMENT_TYPE] FOREIGN KEY([ID_PAYMENT_TYPE])
REFERENCES [dbo].[PAYMENT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_ID_PAYMENT_TYPE]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERSONNEL] FOREIGN KEY([ID_PERSONNEL])
REFERENCES [dbo].[PERSONNEL] ([ID])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_ID_PERSONNEL]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_ID_ROOM_REFUND_CONDITIONS] FOREIGN KEY([ID_ROOM_REFUND_CONDITIONS])
REFERENCES [dbo].[ROOM_REFUND_CONDITIONS] ([ID])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_ID_ROOM_REFUND_CONDITIONS]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_ID_KIND_OF_ROOM_BK] FOREIGN KEY([ID_KIND_OF_ROOM])
REFERENCES [dbo].[KIND_OF_ROOM] ([ID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_ID_KIND_OF_ROOM_BK]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_ID_NATIONALITY] FOREIGN KEY([ID_NATIONALITY])
REFERENCES [dbo].[NATIONALITY] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_ID_NATIONALITY]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_ID_USER1] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_ID_USER1]
GO
ALTER TABLE [dbo].[DETAILS_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_ID_BILL3] FOREIGN KEY([ID_BILL])
REFERENCES [dbo].[BILLS] ([ID])
GO
ALTER TABLE [dbo].[DETAILS_INVOICE] CHECK CONSTRAINT [FK_ID_BILL3]
GO
ALTER TABLE [dbo].[DETAILS_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_ID_RENTAL_TYPES_3] FOREIGN KEY([ID_RENTAL_TYPES])
REFERENCES [dbo].[RENTAL_TYPES] ([ID])
GO
ALTER TABLE [dbo].[DETAILS_INVOICE] CHECK CONSTRAINT [FK_ID_RENTAL_TYPES_3]
GO
ALTER TABLE [dbo].[DETAILS_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_ID_ROOMS_3] FOREIGN KEY([ID_ROOMS])
REFERENCES [dbo].[ROOMS] ([ID])
GO
ALTER TABLE [dbo].[DETAILS_INVOICE] CHECK CONSTRAINT [FK_ID_ROOMS_3]
GO
ALTER TABLE [dbo].[FACILITIES_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ID_FACILITIES] FOREIGN KEY([ID_FACILITIES])
REFERENCES [dbo].[FACILITIES] ([ID])
GO
ALTER TABLE [dbo].[FACILITIES_DETAILS] CHECK CONSTRAINT [FK_ID_FACILITIES]
GO
ALTER TABLE [dbo].[FACILITIES_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ID_ROOMS] FOREIGN KEY([ID_ROOMS])
REFERENCES [dbo].[ROOMS] ([ID])
GO
ALTER TABLE [dbo].[FACILITIES_DETAILS] CHECK CONSTRAINT [FK_ID_ROOMS]
GO
ALTER TABLE [dbo].[HAND_OVER]  WITH CHECK ADD  CONSTRAINT [FK_ID_PSN] FOREIGN KEY([ID_PERSONNEL])
REFERENCES [dbo].[PERSONNEL] ([ID])
GO
ALTER TABLE [dbo].[HAND_OVER] CHECK CONSTRAINT [FK_ID_PSN]
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ID_USER3] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[HISTORY] CHECK CONSTRAINT [FK_ID_USER3]
GO
ALTER TABLE [dbo].[IMAGE_KIND_OF_ROOM]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_KIND_OF_ROOM_KIND_OF_ROOM] FOREIGN KEY([ID_KIND_OF_ROOM])
REFERENCES [dbo].[KIND_OF_ROOM] ([ID])
GO
ALTER TABLE [dbo].[IMAGE_KIND_OF_ROOM] CHECK CONSTRAINT [FK_IMAGE_KIND_OF_ROOM_KIND_OF_ROOM]
GO
ALTER TABLE [dbo].[PERSONNEL]  WITH CHECK ADD  CONSTRAINT [FK_ID_NATIONALITY2] FOREIGN KEY([ID_NATIONALITY])
REFERENCES [dbo].[NATIONALITY] ([ID])
GO
ALTER TABLE [dbo].[PERSONNEL] CHECK CONSTRAINT [FK_ID_NATIONALITY2]
GO
ALTER TABLE [dbo].[PERSONNEL]  WITH CHECK ADD  CONSTRAINT [FK_ID_USER2] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[PERSONNEL] CHECK CONSTRAINT [FK_ID_USER2]
GO
ALTER TABLE [dbo].[RESET_HAND_OVER]  WITH CHECK ADD  CONSTRAINT [FK_ID_PSN2] FOREIGN KEY([ID_PERSONNEL])
REFERENCES [dbo].[PERSONNEL] ([ID])
GO
ALTER TABLE [dbo].[RESET_HAND_OVER] CHECK CONSTRAINT [FK_ID_PSN2]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ID_KIND_OF_ROOM] FOREIGN KEY([ID_KIND_OF_ROOM])
REFERENCES [dbo].[KIND_OF_ROOM] ([ID])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ID_KIND_OF_ROOM]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ID_NUMBER_OF_FLOORS] FOREIGN KEY([ID_NUMBER_OF_FLOORS])
REFERENCES [dbo].[NUMBER_OF_FLOORS] ([ID])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ID_NUMBER_OF_FLOORS]
GO
ALTER TABLE [dbo].[SERVICE_AVAILABLE]  WITH CHECK ADD  CONSTRAINT [FK_ID_ROOMS4] FOREIGN KEY([ID_ROOMS])
REFERENCES [dbo].[ROOMS] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_AVAILABLE] CHECK CONSTRAINT [FK_ID_ROOMS4]
GO
ALTER TABLE [dbo].[SERVICE_AVAILABLE]  WITH CHECK ADD  CONSTRAINT [FK_ID_SERVICES] FOREIGN KEY([ID_SERVICE])
REFERENCES [dbo].[SERVICESS] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_AVAILABLE] CHECK CONSTRAINT [FK_ID_SERVICES]
GO
ALTER TABLE [dbo].[SERVICE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ID_DETAILS_INVOICE] FOREIGN KEY([ID_DETAILS_INVOICE])
REFERENCES [dbo].[DETAILS_INVOICE] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_DETAILS] CHECK CONSTRAINT [FK_ID_DETAILS_INVOICE]
GO
ALTER TABLE [dbo].[SERVICE_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ID_SERVICE] FOREIGN KEY([ID_SERVICE])
REFERENCES [dbo].[SERVICESS] ([ID])
GO
ALTER TABLE [dbo].[SERVICE_DETAILS] CHECK CONSTRAINT [FK_ID_SERVICE]
GO
ALTER TABLE [dbo].[SERVICESS]  WITH CHECK ADD  CONSTRAINT [FK_ID_SERVICE_TYPE] FOREIGN KEY([ID_SERVICE_TYPE])
REFERENCES [dbo].[SERVICE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[SERVICESS] CHECK CONSTRAINT [FK_ID_SERVICE_TYPE]
GO
